
langchain
langchain-anthropic
langchain-groq
langchain-openai
langchain-deepseek
langchain_ollama
langgraph
pandas
numpy
python-dotenv
matplotlib
tabulate
colorama
questionary
rich
langchain-google-genai
google-ai-generativelanguage
streamlit
lottie
plotly

pytest
black
isort
flake8
